<div class="list-group">
  <view-search
    search="$ctrl.searchText"
    on-search="$ctrl.onSearchText(search)"
    >
  </view-search>
  <view-item
    post="post"
    on-like="$ctrl.like(post)"
    ng-repeat="post in $ctrl.posts | filter: $ctrl.searchText | orderBy: -post.createdAt track by post.id">
  </view-item>
</div>
