<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form name="editForm" novalidate ng-submit="$view.onSubmit()">
      <fieldset>
        <legend>
          Editar <small>{{$view.film.title}}</small>
        </legend>
        <div class="form-group" ng-class="{'has-error':editForm.title.$invalid}">
          <label for="title">Titulo</label>
          <input type="text" class="form-control"
            id="title" name="title" required
            aria-labelledby="title-error"
            ng-model="$view.film.title" />
          <span id="title-error" class="help-block hg-hide"
            ng-show="editForm.title.$invalid">Es Requerido</span>
        </div>
        <div class="form-group" ng-class="{'has-error': editForm.length.$invalid}">
          <label for="length">Duracion</label>
          <input type="number" class="form-control"
            id="length" name="length" required
            ng-model="$view.film.length"/>
          <span id="length-error" class="help-block ng-hide"
            ng-show="editForm.length.$invalid">
            Debe ser numero
          </span>
        </div>
        <div class="form-group" ng-class="{'has-error': editForm.rating.$invalid}">
          <label for="rating">Clasificacion</label>
          <select class="form-control"
            id="rating" name="rating" required
            ng-model="$view.film.rating"
            ng-options="rating for rating in $view.ratings"
            ></select>
        </div>
        <div>
          <button type="submit" class="btn btn-primary"
            ng-disabled="editForm.$invalid">
            Guardar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
