<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="ng-cloak" ng-if="!view.auth.user">
        <a class="btn btn-info" ui-sref="app.login">
          Ingresar
        </a>
      </div>
      <div class="ng-cloak" ng-if="view.auth.user">
        Hola {{view.auth.user.fullname}}
        <h1>
          Categorias
          <small class="ng-hide" ng-show="view.selected">
            {{view.selected | uppercase }}
          </small>
        </h1>
        <div ng-style="{maxWidth:'300px'}">
          <input type="text" class="form-control"
            ng-model="view.search"
            ng-change="view.onSearchChange()"/>
        </div>
        <div class="list-group">
          <div class="list-group-item"
            ng-class="{active: view.search==topic.title}"
            ng-repeat="topic in view.topics track by topic.id">
            <h4 class="list-group-item-heading">
              {{topic.title}}
            </h4>
            <p class="list-group-item-text">
              {{topic.description}}
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-info" ng-click="view.onFilmGet()">
      Film
    </button>
    <a class="btn btn-info" ui-sref="app.film.list">Films</a>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <my-timer
        my-min="view.min"
        my-sec="view.sec"
        on-tick="view.onTick(ctrl)"
        on-start="view.onStart(ctrl)"
        on-stop="view.onStop(ctrl)"
        on-reset="view.onReset(ctrl)">
      </my-timer>
      <h2>Logs</h2>
      <div class="list-group">
        <div class="list-group-item"
          ng-repeat="log in view.logs | limitTo:5 track by log.id">
          <h4 class="list-group-item-heading">
            {{log.msg}}
          </h4>
          <p class="list-group-item-text">
            {{log.date | date:'HH:mm:ss'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
