<h1>
  Catalogo
  <button type="button" class="btn btn-xs btn-default"
    ng-click="$ctrl.doSearch()">
    <i class="fa fa-search"></i>
  </button>
</h1>
<form name="form" novalidate class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control"
          id="title" name="title"
          ng-model="$ctrl.search.title"
          ng-keypress="$ctrl.keyPress($event);"/>
      </div>
      <div class="form-group">
        <label for="category">Categoria</label>
        <select class="form-control"
          id="category" name="category"
          ng-model="$ctrl.search.category"
          ng-change="$ctrl.doSearch();"
          ng-options="cat.key as cat.val for cat in $ctrl.categories">
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="author">Autor</label>
        <input type="text" class="form-control"
          id="author" name="author"
          ng-model="$ctrl.search.author"
          ng-keypress="$ctrl.keyPress($event);"/>
      </div>
      <div class="form-group">
        <label for="description">Descripcion</label>
        <input type="text" class="form-control"
          id="description" name="description"
          ng-model="$ctrl.search.description"
          ng-keypress="$ctrl.keyPress($event);"/>
      </div>
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Titulo</th>
      <th>Autor</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.list">
      <td>{{row.category}}</td>
      <td>{{row.title}}</td>
      <td>{{row.author}}</td>
      <td>
        <a ui-sref="app.catalog.view({id:{{row.id}}})"
          class="btn btn-info" title="Detalle">
          <i class="fa fa-info-circle"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
